<div class="status-bar"><span>{{tar_path}}</span></div>
<div class="pane-body">
  <div class="table-wrap">
    <table class="table" data-file="{{enc_file}}">
      <thead>
        <tr>
          {{#headers}}
          <th data-k="{{enc_name}}">{{name}}</th>
          {{/headers}}
          <th class="sticky-right-2">id</th>
          <th class="sticky-right">row</th>
        </tr>
      </thead>
      <tbody>
        {{#rows}}
        <tr data-id="{{id_value}}">
          {{#cells}}
          <td>
            {{#has}}
            <a>{{range_str}}</a>
            {{/has}}
          </td>
          {{/cells}}
          <td class="sticky-right-2 mono">{{id_value}}</td>
          <td class="sticky-right mono">{{row_idx}}</td>
        </tr>
        {{/rows}}
      </tbody>
    </table>
  </div>
</div>


