# Build artifacts
*.so
*.pyd
*.dll
build/
dist/
*.egg-info/

# Generated during build
src/ultar_dataloader/_version.py
src/ultar_dataloader/lua-types/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Type checker cache
.mypy_cache/
.pytype/
*.typed

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
*.swp
*.swo
*~

