# .github/workflows/ci.yml
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [ published ]

permissions:
  contents: write

jobs:
  build:
    name: Build ${{ matrix.target.triplet }}
    runs-on: ${{ matrix.target.runner }}
    strategy:
      matrix:
        target:
          - { triplet: x86_64-linux-gnu.2.28, runner: ubuntu-22.04, lua: luajit }
          - { triplet: aarch64-linux-gnu.2.28, runner: ubuntu-24.04-arm, lua: luajit }
          - { triplet: aarch64-macos, runner: macos-latest, lua: lua54 }

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1

      - name: Build (ReleaseSafe, ${{ matrix.target.triplet }})
        run: |
          zig build \
            -Doptimize=ReleaseSafe \
            -Dtarget=${{ matrix.target.triplet }} \
            -Dlua=${{ matrix.target.lua }} \
            --summary all
          mv ./zig-out/bin/indexer ./indexer-${{ matrix.target.triplet }}
          mv ./zig-out/bin/ultar_httpd ./ultar_httpd-${{ matrix.target.triplet }}
          if [[ matrix.target.triplet =~ linux ]]; then
            mv ./zig-out/lib/libdataloader.so ./libdataloader-${{ matrix.target.triplet }}.so
          fi

      - name: Test
        run: |
          zig build test --summary all

      - name: Upload binaries to Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: |
            ./*
